article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

*::-moz-selection {
  color: white;
  background-color: #61a8ff;
}

*::selection {
  color: white;
  background-color: #61a8ff;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.6;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.top-slash {
  width: 100%;
  padding-top: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #8e44ad;
  overflow: hidden;
}

.top-slash:after {
  content: '';
  display: block;
  background: white;
  height: 480px;
  width: 8000px;
  position: absolute;
  z-index: 1;
  bottom: -50%;
  left: 50%;
  margin-left: -4000px;
  -webkit-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.top-slash:before {
  content: '';
  display: block;
  background: white;
  height: 480px;
  width: 8000px;
  position: absolute;
  z-index: 1;
  bottom: -50%;
  left: 50%;
  margin-left: -4000px;
  -webkit-transform: rotate(9deg);
      -ms-transform: rotate(9deg);
          transform: rotate(9deg);
}

header {
  height: 80px;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

header #logo {
  width: 100px;
  margin: 0 auto;
  padding-top: 30px;
}

header #logo svg {
  fill: white;
}

header #logo svg .st0, header #logo svg .st1 {
  fill: white;
}

header #logo svg .st0 {
  opacity: .33;
}

header #logo svg .st1 {
  opacity: .66;
}

.hero {
  padding: 50px 20px;
  text-align: center;
}

.hero .title {
  font-size: 22px;
  font-weight: 400;
}

.hero .section-title-rule {
  border-top-color: rgba(255, 255, 255, 0.15);
  display: none;
}

.hero .section-title-rule.bottom {
  display: block;
}

.flex-about-content {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  max-width: 380px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
  box-sizing: content-box;
  overflow: visible;
}

hr.section-title-rule {
  border-top: 2px solid #8e44ad;
  width: 100px;
  margin: 10px auto 30px;
}

section, footer {
  padding: 40px 0px;
}

section .constrainer, footer .constrainer {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 30px;
}

.what-is-this {
  position: relative;
  overflow: hidden;
}

.what-is-this-slash {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.what-is-this-slash:after {
  content: '';
  display: block;
  background: #f5f5f5;
  height: 500px;
  width: 8000px;
  position: absolute;
  z-index: 1;
  bottom: -180%;
  left: 50%;
  margin-left: -4000px;
  -webkit-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.what-is-this-slash:before {
  content: '';
  display: block;
  background: #f5f5f5;
  height: 500px;
  width: 8000px;
  position: absolute;
  z-index: 1;
  bottom: -180%;
  left: 50%;
  margin-left: -4000px;
  -webkit-transform: rotate(9deg);
      -ms-transform: rotate(9deg);
          transform: rotate(9deg);
}

.section-head {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.media-object {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.media-object .media {
  margin-right: 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

p {
  margin: 0 0 20px 0;
}

.photos-list {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .photos-list .constrainer {
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .photos-list .constrainer {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1750px) {
  .photos-list .constrainer {
    max-width: 1400px;
  }
}

.photos-list.tint {
  background-color: #f5f5f5;
}

.photos-list input {
  display: none;
}

.photos-list input:checked + label {
  max-width: none;
}

.photos-list label {
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .photos-list label {
    max-width: 300px;
  }
}

@media screen and (min-width: 1750px) {
  .photos-list label {
    max-width: 430px;
  }
}

.photos-list label .media img {
  width: 100%;
}

.photos-list label .desc p {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  div.photos-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.day {
  color: #8e44ad;
}

a {
  color: rgba(0, 0, 0, 0.7);
}

.special {
  background-color: #16A085;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 18px;
}

.special a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  color: white;
}

.overlay {
  display: none;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

footer {
  text-align: center;
}

footer li {
  list-style: none;
}

.white {
  color: rgba(255, 255, 255, 0.8);
}

.tint-reversed {
  background-color: #666;
}
